<!DOCTYPE html>
<html lang="en">
<head>
  <!-- vue -->
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>  

  <!-- axios CDN -->
  <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Email generator Axios</title>
</head>
<body>

  <div id="app">
    <h3 
    v-if="arrMailGenerate.length < limit">Loading...</h3>

    <ul v-else>
      <li v-for="mail in arrMailGenerate">
        <span>{{ mail }}</span>
      </li>
    </ul>








<!-- fine del div #app -->
  </div>













  <script src="js/script.js"></script>
</body>
</html>